@charset "UTF-8";

body {
        background-color: rgb(218, 181, 253);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size:small;
       } 
       h1 {
        color:blueviolet;
        background-color: antiquewhite;
       }
       h2 {
        color:rgb(87, 38, 134)
       }
       p {
        text-align:justify;
       }